<div class="container-fluid py-5 " *ngIf="cliente">
  <h2 class="display-4">Bem-vindo, {{ cliente.nome }}!</h2>
  <p class="lead">Saldo atual de milhas: <span class="text-success">{{ milhasSaldo }} pontos</span></p>
</div>

<h2 class="text-primary mb-3">Voos e Reservas</h2>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th scope="col">Código da Reserva</th>
        <th scope="col">Data e Hora</th>
        <th scope="col">Aeroporto de Origem</th>
        <th scope="col">Aeroporto de Destino</th>
        <th colspan="2" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of reservasFiltradas">
        <th scope="row">{{ reserva.codigo }}</th>
        <td>{{ reserva.voo.dataHora | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ reserva.voo.origem }}</td>
        <td>{{ reserva.voo.destino }}</td>
        <td>
          <a class="link-primary" (click)="toggleVisualizar(reserva)">
            <i class="bi bi-eye"></i> Ver reserva
          </a>
      <tr *ngIf="expandedReserva === reserva">
        <td colspan="5" class="p-3">
          <div>
            <strong>Valor Gasto:</strong> {{ reserva.valorGasto | currency:'BRL':'symbol':'1.2-2' }}<br>
            <strong>Milhas Gastas:</strong> {{ reserva.milhasUtilizadas }} pontos<br>
            <strong>Status:</strong> {{ reserva.status }}
          </div>
        </td>
      </tr>

      <td> <a class="link-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
          *ngIf="reserva.status !== 'Voo cancelado'&& reserva.status !== 'Reserva cancelada'">
          <i class="bi bi-trash3"></i> Cancelar reserva
        </a>
      </td>
    </tbody>
  </table>
</div>
<!-- Modal Cancelar reserva-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmação de cancelamento</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="mensagemAlerta">
          {{ mensagemAlerta }}
        </div>
        Tem certeza que deseja cancelar a reserva selecionada?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="cancelarReserva()">Sim</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
      </div>
    </div>
  </div>
</div>