<div class="container">
  <h2>Cadastro de Voo</h2>

  <form (ngSubmit)="cadastrarVoo()">
    <div class="form-group">
      <label for="codigo">Código do Voo:</label>
      <input type="text" id="codigo" [(ngModel)]="novoVoo.codigo" name="codigo" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="dataHora">Data/Hora:</label>
      <input type="datetime-local" id="dataHora" [(ngModel)]="novoVoo.dataHora" name="dataHora" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="origem">Origem:</label>
      <input type="text" id="origem" [(ngModel)]="novoVoo.origem" name="origem" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="destino">Destino:</label>
      <input type="text" id="destino" [(ngModel)]="novoVoo.destino" name="destino" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="valorPassagem">Valor da Passagem:</label>
      <input type="number" id="valorPassagem" [(ngModel)]="novoVoo.valorPassagem" name="valorPassagem" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="milhasNecessarias">Milhas Necessárias:</label>
      <input type="number" id="milhasNecessarias" [(ngModel)]="novoVoo.milhasNecessarias" name="milhasNecessarias" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar Voo</button>
  </form>
</div>
